
* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
}

button {
  font-family: 'Merriweather', serif;
}

header {
  padding-bottom: 20px;
  margin-top: 25px;
  margin-bottom: 3px;
  border-bottom: 4px solid black;
}

h1 {
  color: white;
  background-color: #222B35;
  margin-top: 0;
  margin-bottom: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  color: #BFC3C7;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
}

legend {
  font-size: 15px;
  /*margin-top: 25px;*/
  margin-bottom: 20px;
}

fieldset {
  border: none;
  margin-bottom: 25px;
  padding: 0;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

textarea {
  height: 100px;
}

input,
textarea,
select {
  background-color: #EBECEE;
  border: none;
  border-radius: 5px;
}

button {
  color: white;
  background-color: #42AFA6;
  border: none;
  border-radius: 5px;
}

footer {
  text-align: center;
  color: #BFC3C7;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 200px;
}

input[type=checkbox],
input[type=radio] {
  margin-right: 10px;
}

textarea,
button,
select {
  width: 100%;
}



/*******************************
Layout Containers
*******************************/

.main-header {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

#contact input:not(#zip) {
  width: 100%;
}

#contact input[id="zip"] {
  margin-right: 80%;
  width: 50%;
}

#contact,
#newsletter {
  color: #677584;
  font-size: 12px;
}

.contact-form {
  border-top: 2px solid black;
  padding-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.newsletter-form {
  border-top: 2px solid black;
  padding-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.label-input {
  padding-bottom: 20px;
}

.label-input input,
button,
select {
  height: 50px;
}


/*******************************
Media Quries
*******************************/

@media (min-width: 768px) {
  .container {
    width: 50%;
    max-width: 1024px;
    margin: auto;
  }

  .label-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .label-input label {
    margin-bottom: 0;
  }

  fieldset {
    padding: 0;
  }

  #contact input:not(#zip) {
    width: 75%;
  }

  #contact input[id="zip"] {
    width: 25%;
    margin-right: 50%;
  }

  #contact select {
    width: 75%;
  }

  #contact label {
    align-self: center;
  }
}
