/*******************************
Element Selectors
*******************************/

* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/marble-floor.jpg");
}

header {
  padding-bottom: 20px;
  margin-top: 25px;
  margin-bottom: 2px;
  border-bottom: 4px solid black;
}

h1 {
  color: white;
  background-color: #222B35;
  margin-top: 0;
  margin-bottom:0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 0;
}

p {
  color: #BFC3C7;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
}

legend {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}

fieldset {
  border: none;
  margin-bottom: 25px;
  padding: 0;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

textarea {
  height: 100px;
}

input,
textarea,
select,
button {
  color: #677584;
  background-color: #EBECEE;
  border: none;
  border-radius: 5px;
  font-family: 'Merriweather', serif;
  padding: 10px;
}

button {
  color: white;
  background-color: #42AFA6;
  border: none;
  border-radius: 5px;
}

footer {
  text-align: center;
  color: #BFC3C7;
  font-size: 14px;
  font-style: italic;
  padding-bottom: 200px;
}

input[type=checkbox],
input[type=radio] {
  margin-right: 10px;
  border: none;
}

textarea,
button,
select {
  width: 100%;
}

#contact,
#newsletter,
input,
select {
  color: #677584;
  font-size: 14px;
}

label[for="topics"] {
  margin-bottom: 0;
}

.label-input input,
button,
select {
  height: 50px;
}

/*******************************
Vendor Prefixes
*******************************/

::-webkit-input-placeholder { /* Chrome */
  color: #BFC3C7;
  font-size: 12px;
  text-align: right;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 12px;
  color: #BFC3C7;
  text-align: right;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 12px;
  color: #BFC3C7;
  opacity: 1;
  text-align: right;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  font-size: 12px;
  color: #BFC3C7;
  opacity: 1;
  text-align: right;
  font-style: italic;
}

/*******************************
Layout Containers
*******************************/

.container {
  background-color: white;
  padding-top: 45px;
}

.main-header {
  text-align: center;
  margin-top: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.main-label {
  margin-bottom: 0;
}

.contact-form {
  border-top: 2px solid black;
  padding-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.newsletter-form {
  border-top: 2px solid black;
  padding-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.label-input {
  padding-bottom: 20px;
}

#contact input:not(#zip) {
  width: 100%;
}

#contact input[id="zip"] {
  margin-right: 80%;
  width: 50%;
}

/*******************************
Select Option Gray
*******************************/

select,
select option {
  color: #000000;
}

select:invalid,
select option[value=""] {
  color: #BFC3C7;
  font-size: 12px;
}

/*******************************
Focus and Hover
*******************************/

input:focus,
select:focus,
textarea:focus {
  background: #FFFDD6;
  transition-duration: 1s;
  outline: none;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover {
  background: #CFFCF9;
  outline: none;
  transition-duration: 1s;
  cursor: pointer;
}

/*******************************
Media Queries
*******************************/

@media (min-width: 768px) {
  .container {
    /*width: 65%;*/
    max-width: 800px;
    margin: auto;
  }

  .label-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .label-input label {
    margin-bottom: 0;
  }

  fieldset {
    padding: 0;
  }

  #contact input:not(#zip) {
    width: 75%;
  }

  #contact input[id="zip"] {
    width: 25%;
    margin-right: 50%;
  }

  #contact select {
    width: 75%;
  }

  #contact label {
    align-self: center;
  }
}
